[tools]
bun = "latest"
deno = "latest"
node = { version = "22", postinstall = "corepack enable" }

# === From GitHub ===
"github:pocketbase/pocketbase" = "latest"
"github:binwiederhier/ntfy" = "latest"
"github:axllent/mailpit" = "latest"

# === Git Helpers ===
git-cliff = "latest"
gitleaks = "latest"
lefthook = "latest"
committed = "latest"
# "github:nushell/nushell" = "latest"
# "github:quarto-dev/quarto-cli" = "latest"

[hooks]
postinstall = ["lefthook install"]  # Install Git hooks after installation

[env]
 # Add binaries from node_modules to path
_.path = [
  "node_modules/.bin",
  ".config/mise/tasks",
]
_.file = "./.env.local"        # Load env vars from .env file

[tasks.clean]
run = "rm -rf node_modules"
